
#navbar{
    display:inline-flex;
    padding-right:50px;
    width: 100%;
    border: gray solid 2px;
    background-color: darkblue;

}

#navbar li{
    display:inline-flex;
    padding-right:50px;

   
    
}

nav li a{
    color: white;
    padding-right:20px;
    padding-top: 20px;
    padding-bottom:20px ;
    font-size: 15px;
}

.currentPage{
    background-color:rgb(96, 92, 112)
}

a:hover{
    color: lightblue;
    font-weight: bold;
    font-size:18px;
    font-family: arial;
}
#navbar input:focus{
    border: aqua solid 5px;
}
